#collapsable-nav ul {
  background-color: ORANGE;
  margin-top: 0px;
  margin-bottom: 0px;
}

#collapsable-nav li {
  border: 1px;
  border-style: solid;
  border-color: GRAY;
}

#main-section {
  background-color: SILVER;
}
